@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply bg-purple-900 text-white rounded-md hover:bg-purple-600 transition duration-300;
  }
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}
